<h1>Angular Validation Summary Tester</h1>
<div class="form-section">
  <h2>Form Options</h2>
  <label for="ValidationMessage">Validation Message</label>
  <input [(ngModel)]="validationMessage" type="text" id="ValidationMessage">

  <label for="HideUntilSubmit">Hide Until Submit</label>
  <input [(ngModel)]="hideUntilSubmit" type="checkbox" id="HideUntilSubmit">
</div>
<div class="form-section">
  <h2>Test Form</h2>
  <form #newUserForm="ngForm" (ngSubmit)="newUserForm.valid && formSubmit()">
    <label for="FirstName">First Name</label>
    <input [(ngModel)]="firstName" type="text" id="FirstName" name="First Name" placeholder="Jane" autofocus required>

    <label for="LastName">Last Name</label>
    <input [(ngModel)]="lastName" type="text" id="LastName" name="Last Name" placeholder="Doe" required>

    <label for="Country">Country</label>
    <select [(ngModel)]="country" id="Country" name="Country" required>
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="email">Email</label>
    <input [(ngModel)]="email" type="text" id="Email" name="Email" placeholder="janedoe@angelfire.com" email required>

    <label for="Password">Password</label>
    <input [(ngModel)]="password" type="password" id="Password" name="Password" placeholder="superSecure123" required
      minlength="8" maxlength="20">

    <label for="Comment">Comment (max 20 characters)</label>
    <textarea [(ngModel)]="comment" rows="2" id="Comment" name="Comment" maxlength="30" required rudeValidator badValidator></textarea>

    <angular-validation-summary [form]="newUserForm" [validationMessage]="validationMessage" [hideUntilSubmit]="hideUntilSubmit"></angular-validation-summary>

    <input type="submit" value="Submit">
  </form>
</div>